# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/venv/
backend/__pycache__/
backend/.env


# Environment files
.env
**/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Node
node_modules/
dist/